.content {

    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    box-shadow: 2px 2px 2px 2px black;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.car-image {
    display: flex;
    justify-content: center;
    align-items: center;
}